<a href="https://colab.research.google.com/github/akashgoyal-20/Cognitive-Computing-Assignments/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1.1

In [25]:
for _ in range(0,3):
    print("AKASH GOYAL")

AKASH GOYAL
AKASH GOYAL
AKASH GOYAL

Assignment 2.1

In [26]:
a=125
b=350
c=890
d=a+b+c
print(a,"+", b, "+", c, "-->", d)

125 + 350 + 890 --> 1365

Assignment 2.2

In [27]:
a="Mr."
b="Akash"
c="Goyal"
d=a+b+c
print(a,"+", b, "+", c, "-->", d)

Mr. + Akash + Goyal --> Mr.AkashGoyal

Assignment 4.1

In [5]:
for i in range(1,11):
  print(7,"*", i, "=",7*i)

print("\n")

for i in range(1,11):
  print(9,"*", i, "=",9*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Assignment 4.2

In [6]:
n=int(input("Enter any number : "))
for i in range(1,11):
  print(n,"*", i, "=",n*i)

Enter any number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Assignment 4.3

In [13]:
n=int(input("Enter any number : "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(f"Sum of n numbers : {sum}")

Enter any number : 5
Sum of n numbers : 15

Assignment 5.1

In [30]:
list=[]
print("Enter any three number")
for i in range(1,4):
  list.append(input())
print(f"Maximum number is {max(list)}")

Enter any three number
12
34
67
Maximum number is 67

Assignment 5.2

In [7]:
n=int(input("Enter any number : "))
sum=0;
for i in range(1,n+1):
  if i%63==0:
    sum=sum+i
print(f"Sum of numbers divisible by 7 ans 9: {sum}")

Enter any number : 63
Sum of numbers divisible by 7 ans 9: 63

Assignment 5.3

In [18]:
n=int(input("Enter any number : "))
sum=0
def isprime(i):
  if i==1 or i==2:
    return False
  for j in range(2,i):
    if i%j==0:
      return False
  return True

for i in range(1,n+1):
  if isprime(i):
    sum=sum+i

print(f"Sum of prime numbers : {sum}")

Enter any number : 20
Sum of prime numbers : 75

Assignment 6.1

In [24]:
n=int(input("Enter any number : "))

def oddsum(n):
  Sum=0
  for i in range(1,n+1):
    if i%2!=0:
      Sum+=i
  return Sum

print(f"Sum of odd numbers: {oddsum(n)}")

Enter any number : 10
Sum of odd numbers: 25

Assignment 6.2

In [31]:
n=int(input("Enter any number : "))
sum=0
def isprime(i):
  if i==1 or i==2:
    return False
  for j in range(2,i):
    if i%j==0:
      return False
  return True

for i in range(1,n+1):
  if isprime(i):
    sum=sum+i

print(f"Sum of prime numbers : {sum}")

Enter any number : 34
Sum of prime numbers : 158