<a href="https://colab.research.google.com/github/akashgoyal-20/Cognitive-Computing-Assignments/blob/main/cognitive_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ques 1:

In [5]:
L=[10,20,30,40,50,60,70,80]

#i.
L.extend([200,300])
print(L)

#ii.
L.remove(10)
L.remove(30)
print(L)

#iii.
L.sort()
print(L)

#iv.
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Ques 2:

In [18]:
scores = (45,89.5,76,45.4,89,92,58,45)

#i.
max_item=max(scores)
max_index=scores.index(max_item)
print(f"Maximum number is {max_item} at index {max_index}")

#ii.
lowest_item=min(scores)
count_item=scores.count(lowest_item)
print(f"Lowest number is {lowest_item} and it occurs {count_item} times")

#iii.
new_list=list(scores[::-1])
print(new_list)

#iv.
input_item=76
if input_item in scores:
  input_index=scores.index(input_item)
  print(f"Input item is present at index {input_index}")
else:
  print(f"Input item is absent")

Maximum number is 92 at index 5
Lowest number is 45 and it occurs 2 times
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
Input item is present at index 2

Ques 3:

In [25]:
import random
random_number=[]
for i in range(0,100):
  random_number.append(random.randint(100,900))

odd_number=[]
count_odd=0
count_even=0
count_prime=0
even_number=[]
prime_number=[]


for i in random_number:
  if i%2==0:
    even_number.append(i)
    count_even=count_even+1
  else:
    odd_number.append(i)
    count_odd=count_odd+1

#i.
print(f"Even numbers are :{even_number}")
print(f"Number of even number :{count_even}")

#ii.
print(f"Odd numbers are :{odd_number}")
print(f"Number of odd number :{count_odd}")

#iii.
def isprime(i):
  if i==1 or i==2:
    return False
  for j in range(2,i):
    if i%j==0:
      return False
  return True

for i in random_number:
  if isprime(i):
    prime_number.append(i)
    count_prime=count_prime+1

print(f"prime numbers are :{prime_number}")
print(f"Number of prime number :{count_prime}")

Even numbers are :[524, 108, 472, 866, 216, 724, 134, 362, 454, 386, 112, 258, 160, 676, 492, 810, 260, 614, 332, 614, 780, 866, 388, 354, 598, 198, 776, 508, 350, 264, 106, 450, 490, 430, 378, 730, 240, 264, 844, 228, 506, 630, 594, 212, 748, 782, 280, 210, 766, 308, 234, 626]
Number of even number :52
Odd numbers are :[435, 281, 867, 803, 661, 753, 441, 855, 383, 829, 593, 245, 695, 129, 761, 173, 815, 153, 709, 101, 739, 365, 897, 855, 577, 499, 141, 683, 865, 319, 599, 677, 531, 411, 615, 633, 591, 407, 645, 201, 845, 177, 251, 717, 183, 297, 595, 107]
Number of odd number :48
prime numbers are :[281, 661, 383, 829, 593, 761, 173, 709, 101, 739, 577, 499, 683, 599, 677, 251, 107]
Number of prime number :17

Ques 4:

In [26]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# i.
union_set = A.union(B)
print(f"Unique scores achieved by both teams: {union_set}")

# ii.
intersection_set = A.intersection(B)
print(f"Scores common to both teams: {intersection_set}")

# iii.
symmetric_difference_set = A.symmetric_difference(B)
print(f"Scores exclusive to each team: {symmetric_difference_set}")

# iv.
is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"Team A's scores are a subset of team B: {is_subset}")
print(f"Team B's scores are a superset of team A: {is_superset}")

# v.
X = int(input("Enter the score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A. Updated set A: {A}")
else:
    print(f"Score {X} is not present in set A.")

Unique scores achieved by both teams: {34, 45, 78, 23, 56, 90}
Scores common to both teams: {90, 78}
Scores exclusive to each team: {34, 45, 23, 56}
Team A's scores are a subset of team B: False
Team B's scores are a superset of team A: False
Enter the score to remove from set A: 34
Score 34 removed from set A. Updated set A: {56, 90, 78}

Ques 5:

In [27]:
sample_dict={
    "name":"kelly",
    "age":25,
    "salary":80000,
    "city":"New york"
}
sample_dict["location"] = sample_dict["city"]
del sample_dict["city"]

print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 80000, 'location': 'New york'}